/* -----FONTS-------*/
@font-face {
    font-family: 'ABChanel Corpo Light';
    src: url("./assets/fonts/ABChanelCorpo-Light.ttf");
    font-weight: lighter;
}

@font-face {
    src: url("./assets/fonts/HelveticaNeueLTStd-Lt.ttf");
    font-family: 'Helvetica Neue LTS td';
    font-weight: normal;
}

@font-face {
    src: url("assets/fonts/ABChanelCorpo-SemiBold.ttf");
    font-family: 'ABChanelCorpo-SemiBold';
    font-weight: normal;
}

$heading-font-family: 'ABChanel Corpo Light', sans-serif;
$body-font-family: 'Helvetica Neue LTS td', sans-serif;
$body-font-semi: 'ABChanelCorpo-SemiBold', sans-serif;

/* ----- COLOURS -----*/
$white: #ffffff;
$black: #000000;
$grey: #ECECEC;
$fake-white: #F9F9F9;

/*----- MEDIA QUERIES----*/

$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px) !default;


/* BLURRED BG LOGIN PAGE */


// body {
//     margin: 0;
//     padding:0;
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     overflow: hidden;

//     .main-container{
//         background: url('/assets/images/visuel-vertical-1.png') no-repeat;
//         background-size: cover;
//         background-attachment:fixed;
//         background-repeat:no-repeat;
//         -moz-background-size: cover;
//         -webkit-background-size: cover;
//         -o-background-size: cover;
//         background-position: center center; 
//         width: 100%;
//         height: 100vh;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-content: center;
//             .logo {
//                 display: flex;
//                 margin: 0 auto;
//                 justify-content: center;
                
//                 img {
//                     z-index: 1000;
//                     position: absolute;
//                     width: 175px;
//                     height:175px;
//                     top: 1.44%;
//                     bottom: 79.11%;
                    
//                     @media (min-width: 320px) and 
//                      (max-width: 768px) {
//                         top: 0%;
//                         margin: 0 auto;
//                         z-index: 1000;
//                     }
//                     @media (min-width: 320px) and 
//                     (max-width: 374px) and  
//                     (orientation : portrait){
//                         margin: 0 auto;
//                         top: 13%;
//                         z-index: 1000;
//                     }
//                     @media (min-width: 375px) and 
//                     (max-width: 414px) and  
//                     (orientation : portrait){
//                         margin: 0 auto;
//                         top: 20%;
//                         z-index: 1000;
//                     }
//                     @media only screen 
//                     and (device-width : 375px) 
//                     and (device-height : 812px) 
//                     and (-webkit-device-pixel-ratio : 3) and 
//                     (orientation : portrait){
//                         margin: 0 auto;
//                         top: 23%;
//                         z-index: 1000;
//                     }
//                     @media only screen
//                     and (min-device-width: 375px)
//                     and (max-device-width: 667px)
//                     and (-webkit-min-device-pixel-ratio: 2)
//                     and (orientation: landscape) {
//                         top: -25px;
//                         margin: 0 auto;
//                         z-index: 1000;
//                     }
//                 }
                
//             }
//             .blurred-bg-login {
//                 margin: 0 auto;
//                 width: 1002px;
//                 height: 497px;
//                 background: linear-gradient(90.29deg, rgba(0, 0, 0, 0.4) -0.9%, rgba(0, 0, 0, 0) 103.24%);
//                 filter: blur(19px);
                
//                 border: 1px solid $white;
//                 box-sizing: border-box;
//                 position: relative;
//                 overflow: hidden;
                
//                 @media (max-width:768px){
//                     margin: 0 auto;
//                     width: 320px;
//                     height: 388px;
//                     bottom: 44.07%;
//                     top: 26.8%;
//                     bottom: 0%;
//                     background: linear-gradient(90.29deg, rgba(0, 0, 0, 0.4) -0.9%, rgba(0, 0, 0, 0) 103.24%);
//                     border: 1px solid #FFFFFF;
//                     box-sizing: border-box;
//                 }

//                 @media only screen
//                     and (min-device-width: 737px)
//                     and (max-device-width: 812px)
//                     and (-webkit-min-device-pixel-ratio: 2)
//                     and (orientation: landscape) {
//                         width: 812px;
//                     }

                
//                 .bg-filter {
                    //  width: 100vw;
                    // height: 100vh;
                    // // top: -41%;
                    // // right: -22%;
                    
                    // left: calc(50% 50vw);
                    // left: -webkit-calc(50% 50vw);
                    // left :-moz-calc(50% 50vw);
                   
                    // top: -webkit-calc(50% -50vh);
                    // top :-moz-calc(50% -50vh); 
                    // top: calc(50% -50vh); 

                    // position: absolute;
                    // background: url('./assets/images/visuel-vertical-1.png');
                    // // filter: blur(19px);
                    // -webkit-filter: blur(19px);
                    // -moz-filter: blur(19px);
                    // filter: blur(8.4px) contrast(1.2) brightness(0.5);

                    // @media (max-width:768px){
                    //     margin: 0 auto;
                    //     width: 320px;
                    //     height: 388px;
                    //     bottom: 44.07%;
                    //     top: 26.8%;
                    //     bottom: 0%;
                    //     background: linear-gradient(90.29deg, rgba(0, 0, 0, 0.4) -0.9%, rgba(0, 0, 0, 0) 103.24%);
                    //     border: 1px solid #FFFFFF;
                    //     box-sizing: border-box;
                    // }

                    // @media only screen
                    // and (min-device-width: 737px)
                    // and (max-device-width: 812px)
                    // and (-webkit-min-device-pixel-ratio: 2)
                    // and (orientation: landscape) {
                    //     width: 812px;
                    // }
//                     display: none;
//                 }

//                 .introduce-code {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: center;
//                     align-content: center;
                    
//                     .introduce-text {
//                         z-index: 20000;
//                         margin: 0 auto;
//                         padding: 136px 331px 0 331px;
//                         text-transform: uppercase;
//                         font-family: $heading-font-family;
//                         font-size: 12px;
//                         line-height: 24px;
//                         letter-spacing: 0.05rem;
//                         display: flex;
//                         align-items: center;
//                         text-align: center;
//                         color: $white;
                        
//                         @media only screen 
//                         and (device-width : 375px) 
//                         and (device-height : 812px) 
//                         and (-webkit-device-pixel-ratio : 3) and
//                         (orientation : landscape) { 
//                             padding: 136px 250px 0 250px !important;
//                         }

//                         @media (max-width:768px){
//                             margin-top: 104px;
//                             padding: 0 1rem;
//                         }
//                     }
//                     .form-ciphers {
//                         z-index: 20000;
//                         display: flex;
//                         flex-direction: column;
//                         justify-content: center;
//                         .passcode-wrapper {
//                             display: flex;
//                             flex-direction: row;
//                             justify-content: center;
//                             align-items: center;
//                             width: auto;
//                             margin: 0 auto;
//                             margin-top: 1rem;
//                         input {
//                             width: 40px;
//                             height: 47px;
//                             padding: 0;
//                             margin-right: 10px;
//                             text-align: center;
//                             font-family: $body-font-semi;
//                             font-size: 16px;
//                             line-height: 23px;
//                             color: $black;
//                             border: 1px solid $white;
//                             &:last-child {
//                                 margin-right: 0;
//                             }
//                             &::-webkit-inner-spin-button, 
//                             &::-webkit-outer-spin-button { 
//                                 -webkit-appearance: none;
//                                 appearance: none;
//                                 margin: 0;
//                             }
//                             &:focus,
//                             &.focus {
//                                 border-color: $white;
//                                 outline: none;
//                                 box-shadow: none;
//                             }
//                             @media (max-width:768px){
//                                 width: 50px;
//                                 height: 60px;
//                             }

//                         }
//                     }
//                         .forgotten-code {
//                             margin: 0 auto;
//                             height: 38px;
//                             font-family: $body-font-family;
//                             font-style: normal;
//                             font-size: 10px;
//                             line-height: 15px;
//                             display: flex;
//                             align-items: center;
//                             text-align: center;
//                             color: $grey;
//                             opacity: 0.7;
//                             text-decoration: underline;

//                             @media (max-width: 768px) {
//                                 height: 38px;
//                                 font-size: 14px;
//                                 line-height: 25px;
//                                 font-family: $body-font-family;
//                                 font-style: normal;
//                                 padding-top: 51px;
//                                 align-items: center;
//                                 text-align: center;
//                                 // text-decoration: none;
//                                 //  &:after {
//                                 //     content: '';
//                                 //     width: 27%;
//                                 //     position: absolute;
//                                 //     left: 36.5%;
//                                 //     bottom: 22px;
//                                 //     color: $white;
//                                 //     border-width: 0 0 1px;
//                                 //     border-style: solid;
//                                 // }
//                             }

//                         }
                
//                    }
                    
//             }
//         }

//         @media (max-width:768px){
//             background: url('/assets/images/visuel-vertcal-mobile.png') no-repeat;
//             background-size: cover;
//             width: 100%;
//             height: 100vh;
            
//         }
        
//     }
// }


body {
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;

    .main-container{
        background: url('/assets/images/visuel-vertical-1.png') no-repeat;
        background-size: cover;
        background-attachment:fixed;
        background-repeat:no-repeat;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center center; 
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
            .logo {
                display: flex;
                margin: 0 auto;
                justify-content: center;
                
                img {
                    z-index: 1000;
                    position: absolute;
                    width: 175px;
                    height:175px;
                    top: 1.44%;
                    bottom: 79.11%;
                    
                    @media (min-width: 320px) and 
                     (max-width: 768px) {
                        top: 0%;
                        margin: 0 auto;
                        z-index: 1000;
                    }
                    @media (min-width: 320px) and 
                    (max-width: 374px) and  
                    (orientation : portrait){
                        margin: 0 auto;
                        top: 13%;
                        z-index: 1000;
                    }
                    @media (min-width: 375px) and 
                    (max-width: 414px) and  
                    (orientation : portrait){
                        margin: 0 auto;
                        top: 20%;
                        z-index: 1000;
                    }
                    @media only screen 
                    and (device-width : 375px) 
                    and (device-height : 812px) 
                    and (-webkit-device-pixel-ratio : 3) and 
                    (orientation : portrait){
                        margin: 0 auto;
                        top: 23%;
                        z-index: 1000;
                    }
                    @media only screen
                    and (min-device-width: 375px)
                    and (max-device-width: 667px)
                    and (-webkit-min-device-pixel-ratio: 2)
                    and (orientation: landscape) {
                        top: -25px;
                        margin: 0 auto;
                        z-index: 1000;
                    }
                }
                
            }
            .bg-filter {
                width: 999px;
                height: 495px;
                position: fixed;
                background: linear-gradient(90.29deg, rgba(0, 0, 0, 0.53) -0.9%, rgba(0, 0, 0, 0) 103.24%);
                box-shadow: inset 0px 0px 2000px 6px rgb(121 117 117 / 27%);
                filter: blur(50px);
            }
            .blurred-bg-login {
                overflow: hidden;
                margin: 0 auto;
                width: 1002px;
                height: 497px;
                border: 1px solid $white;
                box-sizing: border-box;
                background: inherit;
                
                &:before {
                    position: fixed;
                    width: 1002px;
                    height: 497px;
                    content: '';
                    background: linear-gradient(90.29deg, rgba(0, 0, 0, 0.53) -0.9%, rgba(0, 0, 0, 0) 103.24%);
                    box-shadow: inset 0px 0px 2000px 6px rgb(121 117 117 / 27%);
                    filter: blur(13px);
                    background: inherit;
                }
  

                @media (max-width:768px){
                    margin: 0 auto;
                    width: 320px;
                    height: 388px;
                    bottom: 44.07%;
                    top: 26.8%;
                    bottom: 0%;
                    background: linear-gradient(90.29deg, rgba(32, 32, 32, 0) -0.9%, rgba(0, 0, 0, 0) 103.24%);
                    border: 1px solid $white;
                    box-sizing: border-box;
                    backdrop-filter: blur(19px);
                }

                @media only screen
                    and (min-device-width: 737px)
                    and (max-device-width: 812px)
                    and (-webkit-min-device-pixel-ratio: 2)
                    and (orientation: landscape) {
                        width: 812px;
                    }
                .introduce-code {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    .introduce-text {
                        z-index: 20000;
                        margin: 0 auto;
                        padding-top: 153px;
                        padding-left: 308px;
                        padding-right: 311px;
                        text-transform: uppercase;
                        font-family: $heading-font-family;
                        font-size: 12px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: $white;
                        @media (max-width:768px){
                            margin-top: 104px;
                            padding: 0 1rem;
                        }
                        @media only screen
                        and (min-device-width: 737px)
                        and (max-device-width: 812px)
                        and (-webkit-min-device-pixel-ratio: 2)
                        and (orientation: landscape) {
                            width: auto;
                            padding: 138px 250px 0 250px;
                        }
                    }
                    .form-ciphers {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        z-index: 2000;
                        margin-top: 0.45rem;
                        .passcode-wrapper {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: auto;
                            margin: 0 auto;
                            margin-top: 1rem;
                        input {
                            width: 40px;
                            height: 47px;
                            padding: 0;
                            margin-right: 10px;
                            text-align: center;
                            font-family: $body-font-semi;
                            font-size: 16px;
                            line-height: 23px;
                            color: $black;
                            border: 1px solid $white;
                            &:last-child {
                                margin-right: 0;
                            }
                            &::-webkit-inner-spin-button, 
                            &::-webkit-outer-spin-button { 
                                -webkit-appearance: none;
                                appearance: none;
                                margin: 0;
                            }
                            &:focus,
                            &.focus {
                                border-color: $white;
                                outline: none;
                                box-shadow: none;
                            }
                            @media (max-width:768px){
                                width: 50px;
                                height: 60px;
                            }

                        }
                    }
                        .forgotten-code {
                            margin: 0 auto;
                            height: 52px;
                            font-family: $body-font-family;
                            font-style: normal;
                            font-size: 10px;
                            line-height: 15px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            color: $grey;
                            opacity: 0.7;
                            text-decoration: underline;

                            @media (max-width: 768px) {
                                height: 19px;
                                font-size: 14px;
                                line-height: 25px;
                                font-family: $body-font-family;
                                font-style: normal;
                                padding-top: 60px;
                                align-items: center;
                                text-align: center;
                            }

                        }
                
                   }
                    
            }
        }

        @media (max-width:768px){
            background: url('/assets/images/visuel-vertcal-mobile.png') no-repeat;
            background-size: cover;
            width: 100%;
            height: 100vh;
            
        }
        
    }
}