/* -----FONTS-------*/
@font-face {
  font-family: "ABChanel Corpo Light";
  src: url("./assets/fonts/ABChanel_Corpo-Light_web.ttf");
}
@font-face {
  src: url("./assets/fonts/Helvetica.ttf");
  font-family: "Helvetica";
  font-weight: 400;
}
@font-face {
  src: url("assets/fonts/ABChanel_Corpo-Semi_Bold_web.ttf");
  font-family: "ABChanelCorpo-SemiBold";
  font-weight: normal;
}
@font-face {
  src: url("assets/fonts/ABChanel_Corpo-Extra_Light_web.ttf");
  font-family: "ABChanel Corpo extra light";
  font-weight: normal;
}
@font-face {
  src: url("assets/fonts/ABChanel_Corpo-Regular_web.ttf");
  font-family: "ABChanel Corpo regular";
  font-weight: normal;
}
/* ----- COLOURS -----*/
<<<<<<< HEAD
=======
/* PARTIE VIDEOS */

>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -ms-user-select: none;
<<<<<<< HEAD
  -moz-user-select: none;
       user-select: none;
}

body {
=======
  user-select: none;
}

body, * {
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*--------------------*/
/*-------HEADER-------*/
/*--------------------*/
=======
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
.teasing-room {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
.teasing-room .teasing-container {
  height: 100vh !important;
  background-color: #000000;
<<<<<<< HEAD
  /*--------------------*/
  /*-------VIDEO--------*/
  /*--------------------*/
=======
}
@media (max-width: 768px) {
  .teasing-room .teasing-container {
  }
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
}

/*--------------------*/
/*-------HEADER-------*/
/*--------------------*/

.teasing-room .teasing-container .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 15%;
}
.teasing-room .teasing-container .logo img {
  width: 175px;
  height: 175px;
<<<<<<< HEAD
=======
}
@media (max-width: 767px) {
  .teasing-room .teasing-container .logo img {
  }
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
}
.teasing-room .teasing-container .collection-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
}
.teasing-room .teasing-container .collection-title .collection-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.teasing-room .teasing-container .collection-title .collection-logo img {
  width: 300px;
}
.teasing-room .teasing-container .collection-title .collection-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30%;
}
.teasing-room .teasing-container .collection-title .collection-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30%;
}
.teasing-room .teasing-container .collection-title .subtitle-bg {
  text-transform: uppercase;
  color: #D8D8D8;
  font-family: "ABChanel Corpo Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 439px;
  margin-bottom: 8px;
}
.teasing-room .teasing-container .collection-title .subtitle-bg p:first-child {
  font-family: "ABChanel Corpo Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 24px;
  line-height: 10px;
}
.teasing-room .teasing-container .collection-title .subtitle-bg:nth-child(2n) {
  font-family: "ABChanelCorpo-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 10px;
}
<<<<<<< HEAD
=======
@media (max-width: 767px) {
  .teasing-room .teasing-container .collection-title {
    height: 40%;
  }
  .teasing-room .teasing-container .collection-title .subtitle-bg {
    display: none;
  }
}
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
.teasing-room .teasing-container .collection-title .subtitle-sm {
  text-transform: uppercase;
  color: #D8D8D8;
  font-family: "ABChanel Corpo Light", sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.1px;
  align-items: center;
  text-align: center;
  width: 439px;
}
.teasing-room .teasing-container .collection-title .subtitle-sm p:first-child {
  font-family: "ABChanel Corpo Light", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}
.teasing-room .teasing-container .collection-title .subtitle-sm:nth-child(2n) {
  font-family: "ABChanelCorpo-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}
.teasing-room .teasing-container .collection-title .subtitle-sm:nth-child(2n):after {
  content: "";
  height: 4px;
  border-bottom: 1px solid #767676;
  width: 20%;
}
<<<<<<< HEAD
=======
@media (max-width: 767px) {
  .teasing-room .teasing-container .collection-title .subtitle-sm {
  }
}
@media (min-width: 767px) {
  .teasing-room .teasing-container .collection-title .subtitle-sm {
    display: none;
  }
  .teasing-room .teasing-container .collection-title .subtitle-sm :nth-child(2n) {
    font-size: smaller;
  }
}

/*--------------------*/
/*-------VIDEO--------*/
/*--------------------*/

>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
.teasing-room .teasing-container .video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}

.teasing-room .teasing-container .video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}

.teasing-room .teasing-container .video-container ol.video-indicators {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 7%;
  list-style: none;
  height: 2px;
}
.teasing-room .teasing-container .video-container ol.video-indicators li {
  width: 30px;
  padding: 0;
  background: #ECECEC;
  height: 1px;
}
.teasing-room .teasing-container .video-container ol.video-indicators li:active {
  background: #ffffff;
}
<<<<<<< HEAD
.teasing-room .teasing-container .video-container ol.video-indicators li:hover {
  background: #ffffff;
}
=======
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
.teasing-room .teasing-container .video-container .video-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
<<<<<<< HEAD
.teasing-room .teasing-container .video-container .control-prev {
=======
.teasing-room .teasing-container .video-container .control-prev,
.teasing-room .teasing-container .video-container .control-next {
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
  cursor: pointer;
  width: auto;
  color: #ffffff;
  font-weight: light;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}
.teasing-room .teasing-container .video-container .control-prev:hover {
  color: #ffffff;
}
<<<<<<< HEAD
.teasing-room .teasing-container .video-container .control-next {
  cursor: pointer;
  width: auto;
  color: #ffffff;
  font-weight: light;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}
.teasing-room .teasing-container .video-container .control-next:hover {
  color: #ffffff;
=======
.teasing-room .teasing-container .video-container .control-prev {
}
.teasing-room .teasing-container .video-container .control-next {
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
}
.teasing-room .teasing-container .video-container .teaser {
  overflow: hidden;
  width: 66%;
  position: relative;
}
.teasing-room .teasing-container .video-container .teaser img {
  width: 100%;
  max-height: 50vh;
}
.teasing-room .teasing-container .video-container .player {
  height: 52px;
  width: 52px;
<<<<<<< HEAD
=======
}
@media (max-width: 768px) {
  .teasing-room .teasing-container .video-container .video-content .video-controls,
  .teasing-room .teasing-container .video-container ol.video-indicators {
    display: none;
  }
  .teasing-room .teasing-container .video-container .video-content .teaser {
    width: 100vw !important;
  }
  .teasing-room .teasing-container .video-container {
    max-height: 40vh;
  }
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
}
.teasing-room .teasing-container .video-container .player .btn-play {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: #ffffff 1px solid;
  background: transparent;
  color: white;
}
<<<<<<< HEAD
=======
@media (max-width: 767px) {
  .teasing-room .teasing-container .video-container .player .btn-play {
    height: 44px;
    width: 44px;
  }
}
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
.teasing-room .teasing-container .video-container .player label {
  color: #ffffff;
  font-weight: bold;
  display: block;
  width: 180px;
  float: left;
  font-family: "ABChanelCorpo-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  line-height: 25px;
  margin-left: 4.7rem;
}

<<<<<<< HEAD
/*--------------------*/
/*-------MAIN---------*/
/*--------------------*/
=======

/*--------------------*/
/*-------MAIN---------*/
/*--------------------*/


>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
.wrapper {
  width: 100%;
  padding-bottom: 2.5rem;
  text-align: center;
  height: auto;
  margin-top: 3rem;
}
.wrapper .gallery-controls {
  width: 100%;
}
.wrapper .gallery-controls .control-prev {
  cursor: pointer;
  width: auto;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 2000;
  text-decoration: none;
}
.wrapper .gallery-controls .control-prev:hover {
  color: #ffffff;
}
<<<<<<< HEAD
.wrapper .gallery-controls .control-next {
  cursor: pointer;
  width: auto;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 2000;
  text-decoration: none;
}
.wrapper .gallery-controls .control-next:hover {
  color: #ffffff;
=======
.wrapper .gallery-controls .control-prev {
}
.wrapper .gallery-controls .control-next {
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
}
.wrapper ol.gallery-indicators {
  color: #000000;
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5rem;
  counter-reset: number;
  list-style-type: none;
  font-family: "ABChanel Corpo Regular", sans-serif;
  font-size: 12px;
  line-height: 150%;
}
.wrapper ol.gallery-indicators:active {
  text-decoration: underline;
}
.wrapper ol.gallery-indicators:hover {
  text-decoration: underline;
}
.wrapper ol.gallery-indicators li::before {
  counter-increment: number;
  content: counter(number) " ";
  font-family: "ABChanel Corpo Regular", sans-serif;
  font-size: 12px;
  line-height: 150%;
  margin-right: 1rem;
}
.wrapper .gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper .gallery-container h2 {
  color: #000000;
  font-family: "ABChanelCorpo-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 124%;
}
<<<<<<< HEAD
=======

>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
.wrapper .gallery-container .gallery-container-wide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
<<<<<<< HEAD
=======
}
@media (max-width: 767px) {
  .wrapper .gallery-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .wrapper .gallery-container h2 {
    font-family: "ABChanel Corpo Light", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1px;
  }

  .wrapper .gallery-indicators li, .wrapper .gallery-controls, .wrapper .gallery-container p {
    display: none;
  }
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
}
.wrapper .gallery-container p {
  margin: 5rem 0 2rem 0;
  color: #000000;
  font-family: "ABChanelCorpo-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 144%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  white-space: pre;
}
.wrapper .gallery-container p span {
  letter-spacing: 0;
  font-family: helvetica;
  font-weight: 100;
}
.wrapper .gallery-container .masonry-gallery {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  min-width: 806px;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 6px;
}
<<<<<<< HEAD
.wrapper .gallery-container .masonry-gallery * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.wrapper .gallery-container .masonry-gallery *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
=======
.wrapper .gallery-container .masonry-gallery__mobile {
  display: none;
}
.wrapper .gallery-container .masonry-gallery *,
.wrapper .gallery-container .masonry-gallery *::after,
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
.wrapper .gallery-container .masonry-gallery *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.wrapper .gallery-container .masonry-gallery .gallery__item--1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.wrapper .gallery-container .masonry-gallery .gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.wrapper .gallery-container .masonry-gallery .gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.wrapper .gallery-container .masonry-gallery .gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.wrapper .gallery-container .masonry-gallery .gallery__item--big {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
<<<<<<< HEAD
.wrapper .gallery-container .masonry-gallery__mobile {
  display: none;
}

/*--------------------*/
/*-------FOOTER-------*/
/*--------------------*/
=======
@media (max-width: 768px) {
  .wrapper {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
  .wrapper .gallery-container .masonry-gallery {
    display: none;
  }
  .wrapper .gallery-container p.gallery-sub {
    display: none;
  }
  .wrapper .gallery-container .masonry-gallery__mobile {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__scroll {
    width: 100vw !important;
    height: auto;
    overflow-x: scroll;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__scroll .masonry-gallery__horizontal {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 12rem;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__horizontal li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100%;
    margin-right: 0.5rem;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__horizontal li img {
    height: 10rem;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__horizontal li h6 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__horizontal li span {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 100;
    font-size: 8px;
  }
}


/*--------------------*/
/*-------FOOTER-------*/
/*--------------------*/


>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 100vw;
  height: 256px;
}
footer .legal-terms {
  max-width: 908px;
  height: 53px;
  margin: 0 auto;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #B6B6B6;
}
<<<<<<< HEAD
=======
@media (max-width: 747px) {
  footer {
    height: auto;
  }
  footer .legal-terms {
    padding: 0;
    width: 89%;
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 1rem;
  }
  footer .legal-terms:after {
    content: "";
    position: absolute;
    bottom: 79px;
    border-bottom: 1px solid #000000;
    margin-bottom: 1rem;
    width: 90%;
    left: 5%;
  }
}
>>>>>>> af2e3ccd147535a8af82fa9e19a392a5002c485b
footer .logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
  border-top: 1px solid #D8D8D8;
  width: 100%;
}
footer .logo-footer img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
footer .logo-footer-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .logo-footer-mobile img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
}

@media (max-width: 767px) {
  .teasing-room .teasing-container .collection-title {
    height: 40%;
  }
  .teasing-room .teasing-container .collection-title .collection-logo img {
    width: 206px;
  }
  .teasing-room .teasing-container .collection-title .subtitle-bg {
    display: none;
  }
  .teasing-room .teasing-container .video-container .player .btn-play {
    height: 44px;
    width: 44px;
  }
  .teasing-room .teasing-container .video-container .player label {
    display: none;
  }

  .wrapper .gallery-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .wrapper .gallery-container h2 {
    font-family: "ABChanel Corpo Light", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1px;
  }
  .wrapper .gallery-container p {
    display: none;
  }
  .wrapper .gallery-indicators li {
    display: none;
  }
  .wrapper .gallery-controls {
    display: none;
  }

  footer .logo-footer {
    display: none;
  }
}
@media (min-width: 767px) {
  .teasing-room .teasing-container .collection-title .subtitle-sm {
    display: none;
  }
  .teasing-room .teasing-container .collection-title .subtitle-sm:nth-child(2n) {
    font-size: smaller;
  }
}
@media (max-width: 768px) {
  .teasing-room .teasing-container .video-container {
    max-height: 40vh;
  }
  .teasing-room .teasing-container .video-container .video-content .video-controls {
    display: none;
  }
  .teasing-room .teasing-container .video-container .video-content .teaser {
    width: 100vw !important;
  }
  .teasing-room .teasing-container .video-container ol.video-indicators {
    display: none;
  }

  .wrapper {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
  .wrapper .gallery-container .masonry-gallery {
    display: none;
  }
  .wrapper .gallery-container p.gallery-sub {
    display: none;
  }
  .wrapper .gallery-container .masonry-gallery__mobile {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__scroll {
    width: 100vw !important;
    height: auto;
    overflow-x: scroll;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__scroll .masonry-gallery__horizontal {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 12rem;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__horizontal li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100%;
    margin-right: 0.5rem;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__horizontal li img {
    height: 10rem;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__horizontal li h6 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
  }
  .wrapper .gallery-container .masonry-gallery__mobile .masonry-gallery__horizontal li span {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 100;
    font-size: 8px;
  }
}
@media (max-width: 747px) {
  footer {
    height: auto;
  }
  footer .legal-terms {
    padding: 0;
    width: 89%;
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 1rem;
  }
  footer .legal-terms:after {
    content: "";
    position: absolute;
    bottom: 79px;
    border-bottom: 1px solid #000000;
    margin-bottom: 1rem;
    width: 90%;
    left: 5%;
  }
}
@media (min-width: 748px) {
  footer .logo-footer-mobile {
    display: none;
  }
}/*# sourceMappingURL=teasing-room.css.map */