@charset "UTF-8";
/* -----FONTS-------*/
@font-face {
    font-family: 'ABChanel Corpo Light';
    src: url("./assets/fonts/ABChanel_Corpo-Light_web.ttf");    
}

@font-face {
    src: url("./assets/fonts/Helvetica.ttf");
    font-family: 'Helvetica';
    font-weight: 400;
}

@font-face {
    src: url("assets/fonts/ABChanel_Corpo-Semi_Bold_web.ttf");
    font-family: 'ABChanelCorpo-SemiBold';
    font-weight: normal;
}

@font-face {
    src: url("assets/fonts/ABChanel_Corpo-Extra_Light_web.ttf");
    font-family: 'ABChanel Corpo extra light';
    font-weight: normal;
}

@font-face {
    src: url("assets/fonts/ABChanel_Corpo-Regular_web.ttf");
    font-family: 'ABChanel Corpo regular';
    font-weight: normal;
}

$heading-font-family: 'ABChanel Corpo Light', sans-serif;
$body-font-family: 'Helvetica', sans-serif;
$body-font-semi: 'ABChanelCorpo-SemiBold', sans-serif;
$body-font-regular: 'ABChanel Corpo Regular', sans-serif;
$body-font-xlight: 'ABChanel Corpo extra light', sans-serif;

/* ----- COLOURS -----*/
$white: #ffffff;
$black: #000000;
$grey: #ECECEC;
$fake-white: #F9F9F9;
$grey-200: #D8D8D8;
$grey-300: #B6B6B6;
$grey-400: #767676;
$fake-black: #1D1D1D;

html {
	scroll-behavior: smooth;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*--------------------*/
/*-------HEADER-------*/
/*--------------------*/
.teasing-room {
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	overflow-x: hidden;
	.teasing-container {
		height: 100vh !important;
		background-color: $black;
		.logo {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 10px;
			height: 15%;
			img {
				width: 175px;
				height: 175px;
			}
		}
		.collection-title {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			height: 20%;
			.collection-logo {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-start;
				img {
					width: 300px;
				}
			}
			.collection-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				height: 30%;
			}
			.subtitle-bg {
				text-transform: uppercase;
				color: $grey-200;
				font-family: "ABChanel Corpo Light", sans-serif;
				font-style: normal;
				font-weight: 300;
				font-size: 10px;
				line-height: 24px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text-align: center;
				width: 439px;
				margin-bottom: 8px;
				p {
					&:first-child {
						font-family: "ABChanel Corpo Light", sans-serif;
						font-style: normal;
						font-weight: 300;
						font-size: 10px;
						line-height: 24px;
						line-height: 10px;
					}
				}
				&:nth-child(2n) {
					font-family: "ABChanelCorpo-SemiBold", sans-serif;
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 10px;
				}
			}
			.subtitle-sm {
				text-transform: uppercase;
				color: $grey-200;
				font-family: "ABChanel Corpo Light", sans-serif;
				font-style: normal;
				font-style: normal;
				font-weight: 300;
				font-size: 10px;
				line-height: 18px;
				letter-spacing: 0.1px;
				align-items: center;
				text-align: center;
				width: 439px;
				p {
					&:first-child {
						font-family: "ABChanel Corpo Light", sans-serif;
						font-weight: 300;
						font-size: 10px;
						line-height: 20px;
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
						align-items: center;
						text-align: center;
						letter-spacing: 0.1px;
						margin-bottom: 16px;
					}
				}
				&:nth-child(2n) {
					font-family: "ABChanelCorpo-SemiBold", sans-serif;
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					&:after {
						content: "";
						height: 4px;
						border-bottom: 1px solid $grey-400;
						width: 20%;
					}
				}
			}
		}
        /*--------------------*/
        /*-------VIDEO--------*/
        /*--------------------*/
		.video-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 60%;
			ol.video-indicators {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				width: 7%;
				list-style: none;
				height: 2px;
				li {
					width: 30px;
					padding: 0;
					background: $grey;
					height: 1px;
					&:active {
						background: $white;
					}
					&:hover {
						background: $white;
					}
				}
			}
			.video-content {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}
			.control-prev {
				cursor: pointer;
				width: auto;
				color: $white;
				font-weight: light;
				font-size: 40px;
				border-radius: 0 3px 3px 0;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-webkit-user-select: none;
				text-decoration: none;
				&:hover {
					color: $white;
				}
			}
			.control-next {
				cursor: pointer;
				width: auto;
				color: $white;
				font-weight: light;
				font-size: 40px;
				border-radius: 0 3px 3px 0;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-webkit-user-select: none;
				text-decoration: none;
				&:hover {
					color: $white;
				}
			}
			.teaser {
				overflow: hidden;
				width: 66%;
				position: relative;
				img {
					width: 100%;
					max-height: 50vh;
				}
			}
			.player {
				height: 52px;
				width: 52px;
				.btn-play {
					height: 52px;
					width: 52px;
					border-radius: 50%;
					border: $white 1px solid;
					background: transparent;
					color: white;
				}
				label {
					color: $white;
					font-weight: bold;
					display: block;
					width: 180px;
					float: left;
					font-family: "ABChanelCorpo-SemiBold", sans-serif;
					font-weight: 600;
					font-size: 16px;
					line-height: 22px;
					display: flex;
					align-items: center;
					line-height: 25px;
					margin-left: 4.7rem;
				}
			}
		}
	}
}
/*--------------------*/
/*-------MAIN---------*/
/*--------------------*/
.wrapper {
	width: 100%;
	padding-bottom: 2.5rem;
	text-align: center;
	height: auto;
	margin-top: 3rem;
	.gallery-controls {
		width: 100%;
		.control-prev {
			cursor: pointer;
			width: auto;
			border-radius: 0 3px 3px 0;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-user-select: none;
			z-index: 2000;
			text-decoration: none;
			&:hover {
				color: $white;
			}
		}
		.control-next {
			cursor: pointer;
			width: auto;
			border-radius: 0 3px 3px 0;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-user-select: none;
			z-index: 2000;
			text-decoration: none;
			&:hover {
				color: $white;
			}
		}
	}
	ol.gallery-indicators {
		color: $black;
		width: 100%;
		height: 2.5rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 2.5rem;
		counter-reset: number;
		list-style-type: none;
		font-family: "ABChanel Corpo Regular", sans-serif;
		font-size: 12px;
		line-height: 150%;
		&:active {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
		li {
			&::before {
				counter-increment: number;
				content: counter(number) " ";
				font-family: "ABChanel Corpo Regular", sans-serif;
				font-size: 12px;
				line-height: 150%;
				margin-right: 1rem;
			}
		}
	}
	.gallery-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: $black;
			font-family: "ABChanelCorpo-SemiBold", sans-serif;
			font-weight: 600;
			font-size: 25px;
			line-height: 124%;
		}
		.gallery-container-wide {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		p {
			margin: 5rem 0 2rem 0;
			color: $black;
			font-family: "ABChanelCorpo-SemiBold", sans-serif;
			font-weight: 600;
			font-size: 16px;
			line-height: 144%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			text-align: center;
			white-space: pre;
			span {
				letter-spacing: 0;
				font-family: helvetica;
				font-weight: 100;
			}
		}
		.masonry-gallery {
			list-style: none;
			margin: 0 auto;
			padding: 0;
			min-width: 806px;
			max-width: 900px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr 1fr;
			grid-gap: 6px;
			* {
				margin: 0;
				padding: 0;
				box-sizing: inherit;
				&::after {
					margin: 0;
					padding: 0;
					box-sizing: inherit;
				}
				&::before {
					margin: 0;
					padding: 0;
					box-sizing: inherit;
				}
			}
			.gallery__item--1 {
				grid-column-start: 3;
				grid-column-end: 4;
				grid-row-start: 1;
				grid-row-end: 2;
			}
			.gallery__item--2 {
				grid-column-start: 4;
				grid-column-end: 5;
				grid-row-start: 1;
				grid-row-end: 2;
			}
			.gallery__item--3 {
				grid-column-start: 3;
				grid-column-end: 4;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			.gallery__item--4 {
				grid-column-start: 4;
				grid-column-end: 5;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			.gallery__item--big {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 3;
			}
		}
		.masonry-gallery__mobile {
			display: none;
		}
	}
}
/*--------------------*/
/*-------FOOTER-------*/
/*--------------------*/
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	width: 100vw;
	height: 256px;
	.legal-terms {
		max-width: 908px;
		height: 53px;
		margin: 0 auto;
		font-family: Helvetica;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 20px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.1px;
		color: $grey-300;
	}
	.logo-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		margin-top: 3rem;
		border-top: 1px solid $grey-200;
		width: 100%;
		img {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
		}
	}
	.logo-footer-mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		img {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 450px;
		}
	}
}
@media (max-width: 767px) {
	.teasing-room {
		.teasing-container {
			.collection-title {
				.collection-logo {
					img {
						width: 206px;
					}
				}
				height: 40%;
				.subtitle-bg {
					display: none;
				}
			}
			.video-container {
				.player {
					.btn-play {
						height: 44px;
						width: 44px;
					}
					label {
						display: none;
					}
				}
			}
		}
	}
	.wrapper {
		.gallery-container {
			display: flex;
			flex-direction: column;
			width: 100%;
			h2 {
				font-family: "ABChanel Corpo Light", sans-serif;
				font-weight: 300;
				font-size: 14px;
				line-height: 23px;
				width: 100%;
				text-align: center;
				letter-spacing: 0.1px;
			}
			p {
				display: none;
			}
		}
		.gallery-indicators {
			li {
				display: none;
			}
		}
		.gallery-controls {
			display: none;
		}
	}
	footer {
		.logo-footer {
			display: none;
		}
	}
}
@media (min-width: 767px) {
	.teasing-room {
		.teasing-container {
			.collection-title {
				.subtitle-sm {
					display: none;
					&:nth-child(2n) {
						font-size: smaller;
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.teasing-room {
		.teasing-container {
			.video-container {
				.video-content {
					.video-controls {
						display: none;
					}
					.teaser {
						width: 100vw !important;
					}
				}
				ol.video-indicators {
					display: none;
				}
				max-height: 40vh;
			}
		}
	}
	.wrapper {
		margin-bottom: 0 !important;
		padding: 0 !important;
		.gallery-container {
			.masonry-gallery {
				display: none;
			}
			p.gallery-sub {
				display: none;
			}
			.masonry-gallery__mobile {
				display: flex;
				flex-direction: column;
				position: relative;
				.masonry-gallery__scroll {
					width: 100vw !important;
					height: auto;
					overflow-x: scroll;
					.masonry-gallery__horizontal {
						list-style: none;
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						width: 100%;
						height: 12rem;
					}
				}
				.masonry-gallery__horizontal {
					li {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-start;
						max-height: 100%;
						margin-right: 0.5rem;
						img {
							height: 10rem;
						}
						h6 {
							font-family: Helvetica;
							font-style: normal;
							font-weight: 200;
							font-size: 10px;
						}
						span {
							font-family: Helvetica;
							font-style: normal;
							font-weight: 100;
							font-size: 8px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 747px) {
	footer {
		height: auto;
		.legal-terms {
			padding: 0;
			width: 89%;
			font-size: 10px;
			line-height: 18px;
			margin-bottom: 1rem;
			&:after {
				content: "";
				position: absolute;
				bottom: 79px;
				border-bottom: 1px solid $black;
				margin-bottom: 1rem;
				width: 90%;
				left: 5%;
			}
		}
	}
}
@media (min-width: 748px) {
	footer {
		.logo-footer-mobile {
			display: none;
		}
	}
}