
/* -----FONTS-------*/
@font-face {
    font-family: 'ABChanel Corpo Light';
    src: url("./assets/fonts/ABChanelCorpo-Light.ttf");
    font-weight: lighter;
}

@font-face {
    src: url("./assets/fonts/HelveticaNeueLTStd-Lt.ttf");
    font-family: 'Helvetica Neue LTS td';
    font-weight: normal;
}

@font-face {
    src: url("assets/fonts/ABChanelCorpo-SemiBold.ttf");
    font-family: 'ABChanelCorpo-SemiBold';
    font-weight: normal;
}

$heading-font-family: 'ABChanel Corpo Light', sans-serif;
$body-font-family: 'Helvetica Neue LTS td', sans-serif;
$body-font-semi: 'ABChanelCorpo-SemiBold', sans-serif;

/* ----- COLOURS -----*/
$white: #ffffff;
$black: #000000;
$grey: #ECECEC;
$fake-white: #F9F9F9;
$tertiary-grey: #B6B6B6;
$secondary-grey: #D8D8D8;
$fake-black: #1D1D1D;

/* PARTIE VIDEOS */

body {
    margin: 0;
    padding: 0;
}
.teasing-room {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    
        .teasing-container{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-content: center;
            // width: 1440px;
            height: 1155px;
            background-color: $black;

        .logo {
            display: flex;
            justify-content: center;
            
            img {
                margin: 0 auto;
                z-index: 1000;
                position: absolute;
                width: 175px;
                height:175px;
                bottom: 87%;
            }
                
        }
        .collection-title {
            .collection-logo {
                display: flex;
                justify-content: center;
            
                img {
                    margin: 0 auto;
                    z-index: 1000;
                    width: 300px;
                    position: absolute;
                    bottom: 82%;
                }
            }
            .subtitle {
                text-transform: uppercase;
                color: $secondary-grey;
                font-family: ABChanel Corpo Light;
                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 24px;
                line-height: 10px;
                align-items: center;
                text-align: center;
                position: relative;
                margin-top: 30rem;
                z-index: 2000;
                    p:first-child {
                        font-family: $heading-font-family;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 10px;
                        line-height: 24px;
                        line-height: 10px;
                    }
                    :nth-child(2n) {
                        font-family: $body-font-semi;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 10px;
                    }

            }
        }
        
        .video-container {
            display: flex;
            margin: 0 auto;
            justify-content: center;
            .teaser {
                width: 1176px;
                height: 660px;
                position: absolute;
                top: 31%;
            }
            
        }
    
    }
}



.wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 10rem;
	padding: 2rem;
    padding-bottom: 2.5rem; 
	text-align: center;
    /* SET GOUACHÉS */
    position: relative;
    height: auto;
    top: 81%;

	.gallery-container {
        margin-top: 1rem;
		
		h2, p {
			color: $black;
		}

        .masonry-gallery {

            *,
            *::after,
            *::before {
            margin: 0;
            padding: 0;
            box-sizing: inherit; 
            }

            list-style: none;
            margin: 0 auto;
            width: 56%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr 1fr;
            grid-gap: 6px;

            .gallery__item--1 {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .gallery__item--2 {
                grid-column-start: 4;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .gallery__item--3 {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 2;
            }
            .gallery__item--4 {
                grid-column-start: 4;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 2;
            }
            .gallery__item--big {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
	    }
	
	}
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    padding: 0;
    margin: 0 4rem;
    width: 100vw;
    // height: 3.5rem;
    position: absolute;
    height: 256px;
    left: 0px;
    top: 2070px;
    .legal-terms {
        width: 908px;
        height: 53px;
        margin: 0 auto;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: $tertiary-grey;
    }
    .logo-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

    } 
}
